*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

body {
  position: relative;
  background-color: rgb(248, 189, 117);
  padding-top: 0.8em;
  padding-bottom: 0%;
}
.pageContent {
  min-height: 100%;
  padding: 10px;
  margin-bottom: 2em;
}
#root {
  padding: 0 0.5rem;
  width: 100%;
  margin: auto auto;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 1.2em;
  border-top: 1px solid rgb(196, 134, 58);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.content {
  max-width: 40em;
  min-width: 20em;
  margin: 0.5em auto;
  margin-bottom: 1em;
  padding: 1.2em;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.content:hover {
  background: rgba(255, 255, 255, 0.5);
}

.contentBody {
  display: none;
  transition: all 0.3s linear;
}
.border {
  border-bottom: 0.1px solid rgb(240, 240, 240);
}
.topic {
  padding: 0.5em;

  margin: 0.5em;
}
.topicTopic {
  display: inline;
}
.topicBody {
  font-size: 0.8em;
  font-weight: bold;
  display: inline;
}

.btn {
  color: hsl(244, 80%, 46%);
  font-size: 1.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
  border-radius: 4em;
  margin: 0.4em 0.5em;
  padding: 0.4em 0.5em;
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: hsl(205, 78%, 60%);
  color: hsl(205, 86%, 17%);
}

.hide {
  display: block;
}
@media only screen and (max-width: 600px) {
  .content {
    width: 15em;
  }
}
